@model bool
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <track-user inline-template :consent="@Model.ToString().ToLower()" >
        <div class="text-center"  v-cloak>
            <div v-if="ConsentGiven===false">
                <h1>Please give permission to get your location!</h1>
                <button v-on:click="giveLocationPermission" type="button" class="mt-1 btn btn-fluid no__border-radius btn-primary shadow">Give Location Permission</button>
            </div>
            <h1 v-if="Count!==0">NearBy Covid19 Patient!</h1>
        </div>
    </track-user>
}
