<div v-show="isLoading" class="loader">
    <div class="bg-primary text-white py-2 px-3">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </div>
</div>